docs/deviser.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="package">
      <attribute name="fullname">
        <data type="NCName"/>
      </attribute>
      <attribute name="name">
        <data type="NCName"/>
      </attribute>
      <attribute name="number">
        <data type="integer"/>
      </attribute>
      <attribute name="offset">
        <data type="integer"/>
      </attribute>
      <attribute name="required">
        <data type="boolean"/>
      </attribute>
      <attribute name="version">
        <data type="integer"/>
      </attribute>
      <element name="versions">
        <element name="pkgVersion">
          <attribute name="level">
            <data type="integer"/>
          </attribute>
          <attribute name="pkg_version">
            <data type="integer"/>
          </attribute>
          <attribute name="version">
            <data type="integer"/>
          </attribute>
          <element name="elements">
            <oneOrMore>
              <element name="element">
                <attribute name="abstract">
                  <data type="boolean"/>
                </attribute>
                <optional>
                  <attribute name="baseClass">
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <attribute name="childrenOverwriteElementName">
                  <data type="boolean"/>
                </attribute>
                <optional>
                  <attribute name="elementName">
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <attribute name="hasChildren">
                  <data type="boolean"/>
                </attribute>
                <attribute name="hasListOf">
                  <data type="boolean"/>
                </attribute>
                <attribute name="hasMath">
                  <data type="boolean"/>
                </attribute>
                <optional>
                  <attribute name="listOfClassName">
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="listOfName">
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="maxNumListOfChildren">
                    <data type="integer"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="minNumListOfChildren">
                    <data type="integer"/>
                  </attribute>
                </optional>
                <attribute name="name">
                  <data type="NCName"/>
                </attribute>
                <attribute name="typeCode">
                  <data type="NCName"/>
                </attribute>
                <optional>
                  <ref name="attributes"/>
                </optional>
                <optional>
                  <choice>
                    <element name="concretes">
                      <element name="concrete">
                        <attribute name="element">
                          <data type="NCName"/>
                        </attribute>
                        <attribute name="maxNumChildren">
                          <data type="integer"/>
                        </attribute>
                        <attribute name="minNumChildren">
                          <data type="integer"/>
                        </attribute>
                        <attribute name="name">
                          <data type="NCName"/>
                        </attribute>
                      </element>
                    </element>
                    <element name="listOfAttributes">
                      <element name="listOfAttribute">
                        <attribute name="abstract">
                          <data type="boolean"/>
                        </attribute>
                        <attribute name="element">
                          <data type="NCName"/>
                        </attribute>
                        <attribute name="name">
                          <data type="NCName"/>
                        </attribute>
                        <attribute name="required">
                          <data type="boolean"/>
                        </attribute>
                        <attribute name="type">
                          <data type="NCName"/>
                        </attribute>
                      </element>
                    </element>
                  </choice>
                </optional>
              </element>
            </oneOrMore>
          </element>
          <element name="plugins">
            <oneOrMore>
              <element name="plugin">
                <attribute name="extensionPoint">
                  <data type="NCName"/>
                </attribute>
                <optional>
                  <element name="references">
                    <oneOrMore>
                      <element name="reference">
                        <attribute name="name">
                          <data type="NCName"/>
                        </attribute>
                      </element>
                    </oneOrMore>
                  </element>
                </optional>
                <optional>
                  <ref name="attributes"/>
                </optional>
              </element>
            </oneOrMore>
          </element>
          <element name="enums">
            <oneOrMore>
              <element name="enum">
                <attribute name="name">
                  <data type="NCName"/>
                </attribute>
                <element name="enumValues">
                  <oneOrMore>
                    <element name="enumValue">
                      <attribute name="name">
                        <data type="NCName"/>
                      </attribute>
                      <attribute name="value">
                        <data type="NCName"/>
                      </attribute>
                    </element>
                  </oneOrMore>
                </element>
              </element>
            </oneOrMore>
          </element>
          <element name="mappings">
            <element name="mapping">
              <attribute name="name">
                <data type="NCName"/>
              </attribute>
            </element>
          </element>
        </element>
      </element>
    </element>
  </start>
  <define name="attributes">
    <element name="attributes">
      <oneOrMore>
        <element name="attribute">
          <attribute name="abstract">
            <data type="boolean"/>
          </attribute>
          <optional>
            <attribute name="element"/>
          </optional>
          <attribute name="name">
            <data type="NCName"/>
          </attribute>
          <attribute name="required">
            <data type="boolean"/>
          </attribute>
          <attribute name="type">
            <data type="NCName"/>
          </attribute>
        </element>
      </oneOrMore>
    </element>
  </define>
</grammar>
